.App {
    background: navy;
    color: aquamarine;
}

.header {
    display: flex; /* or inline-flex */
    flex-direction: row;
}

.date {
    width: 50px;
    height: 80px;
    margin-left: 30px;
    padding: 5px;
    padding-left: 30px;
    border: solid 1px aquamarine;
    font-weight: bold;
    color: aquamarine;
}

.header h2 {
    padding-left: 20px;
    padding-right: 20px;
}

.header button {
    height: 50px;
    margin: 10px;
}

/* .orderList {
    width: 1000px;
} */

.ListHeader {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px aquamarine;
    font-size: 30px;
    color: aquamarine;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.ListViewItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
